<section style="background-color: #eee;">
  <div class="container py-5" style="width: 62rem;">
    <div class="card">
      <div class="row g-0">
        <%- include('../components/chat/contact.ejs') %>
        <%- include('../components/chat/message.ejs') %>
      </div>
    </div>
  </div>
</section>


