<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 border border-light rounded">
          <div class="align-items-center border border-light bg-light m-1 me-2 rounded">
            <h2>Chat</h2>
          </div>
          <ul class="list-group">
            <li class="d-flex flex-row list-group-item align-items-center bg-light m-1 me-2 rounded">
              <div class="d-inline-flex position-relative me-2">
                <span class="position-absolute bottom-0 end-0 p-1 bg-success border border-light rounded-circle"></span>
                <img class="rounded-circle" src="https://i.pinimg.com/564x/03/26/26/032626472f09ce0e02132a769cc2e559.jpg" alt="avatar 3" style="width: 40px; height: 40px;">
              </div>
              <div class="d-flex flex-column">
                <span><b>User</b></span>
                <span>Online</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="card-header bg-info text-white d-flex flex-row align-items-center rounded">
            <div class="d-inline-flex position-relative me-2">
              <span class="position-absolute bottom-0 end-0 p-1 bg-success border border-light rounded-circle"></span>
              <img class="rounded-circle" src="https://i.pinimg.com/564x/03/26/26/032626472f09ce0e02132a769cc2e559.jpg" alt="Avatar" style="width: 50px; height: 50px;">
            </div>
            <div class="d-flex flex-column">
              <span><b>User</b></span>
              <span>Online</span>
            </div>
          </div>
          <div class="card-body overflow-auto" data-mdb-perfect-scrollbar="true" id="chat" style="height: 500px;"> </div>
          <form class="card-footer text-muted d-flex justify-content-start align-items-center p-3 rounded-3">
            <img class="rounded-circle me-2" src="https://i.pinimg.com/564x/f0/a3/44/f0a344551001f7ed0f3022c3abae2560.jpg" alt="avatar 3" style="width: 35px; height: 100%;">
            <input type="text" class="form-control form-control-lg rounded-pill" id="msg" placeholder="Type message">
            <button class="border border-light ms-2 bg-light" type="submit"><i class="fas fa-paper-plane"></i></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const socket = io()
  const chatDiv = document.getElementById('chat');

  socket.auth = {
    username: 'admin'
  };

  socket.connect();

  // Join chatroom
  socket.emit('join room', {
    username: 'admin',
    room: 'Room chat between admin and user',
  })

  // Get room and user
  socket.on('room users', ({
    room,
    user
  }) => {
    console.log(user);
  })

  socket.on('joined', (user) => {
    $('#chat').append(`<div class="hr-sect">${user.content}</div>`)
  })

  socket.on('left', (user) => {
    $('#chat').append(`<div class="hr-sect">${user.content}</div>`)
  })

  // Message from server
  socket.on('message', (data) => {
    if (data.username !== 'admin') {
      const message = data.text;
      const lastChat = $('#chat > div:last');

      if (lastChat.attr('id') === 'receiver') {
        $('#chat > div:last > #message-receiver').append(`<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">${message}</p>`);
      } else {
        const messageHTML = `
          <div class="d-flex flex-row justify-content-start" id="receiver">
            <img class="rounded-circle" src="https://i.pinimg.com/564x/03/26/26/032626472f09ce0e02132a769cc2e559.jpg" alt="avatar 1" style="width: 40px; height: 100%;">
            <div class="w-75" id="message-receiver">
              <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">${message}</p>
            </div>
          </div>
        `;

        chatDiv.innerHTML += messageHTML;
      }

      // Scroll to the bottom of the chat
      chatDiv.scrollTop = chatDiv.scrollHeight;
    }
  })

  const form = document.querySelector('form');

  // When the form is submitted
  form.addEventListener('submit', event => {
    event.preventDefault();

    let msg = event.target.elements.msg.value;

    msg = msg.trim();

    if (!msg) {
      return false;
    }

    // Render the message on the page
    const lastChat = $('#chat > div:last');

    if (lastChat.attr('id') === 'sender') {
      $('#chat > div:last > #message-sender').append(`<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">${msg}</p>`);
    } else {
      const messageHTML = `
        <div class="d-flex flex-row justify-content-end mb-4 pt-1" id="sender">
          <div class="w-75" id="message-sender">
            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">${msg}</p>
          </div>
          <img class="rounded-circle" src="https://i.pinimg.com/564x/f0/a3/44/f0a344551001f7ed0f3022c3abae2560.jpg" alt="avatar 3" style="width: 40px; height: 100%;">
        </div>
      `;

      chatDiv.innerHTML += messageHTML;
    }

    // Clear the input field and send the message to the server
    event.target.elements.msg.value = ''
    event.target.elements.msg.focus()

    socket.emit('chat message', msg)

    // Scroll to the bottom of the chat
    chatDiv.scrollTop = chatDiv.scrollHeight;
  });
</script>