<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> PNH </a>
    <div class="d-flex">
      <% if (locals.auth?.user) { %>
      <a class="navbar-brand"><%= auth.user.name %></a>
      <a class="btn btn-secondary" href="/logout"> Logout </a>
      <% } %>
    </div>
  </div>
</nav>